.header {
  background-color: white;
  color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  overflow: hidden;
}

.title {
  color: red;
}

img {
  height: 80px;
  margin-left: 20px;
}
